/* file: othello.rc                                     */
/* program resource script file                         */
/* author: Peter Wansch                                 */
#include "othello.h"

ICON    WD_MAIN LOADONCALL MOVEABLE DISCARDABLE othello.ico
POINTER PTR_CROSS LOADONCALL MOVEABLE DISCARDABLE cross.ptr
ICON IC_PLAY LOADONCALL MOVEABLE DISCARDABLE play.ico
BITMAP BM_COLOR0 LOADONCALL MOVEABLE DISCARDABLE color0.bmp
BITMAP BM_COLOR1 LOADONCALL MOVEABLE DISCARDABLE color1.bmp
BITMAP BM_COLOR2 LOADONCALL MOVEABLE DISCARDABLE color2.bmp
BITMAP BM_COLOR3 LOADONCALL MOVEABLE DISCARDABLE color3.bmp
BITMAP BM_COLOR4 LOADONCALL MOVEABLE DISCARDABLE color4.bmp
BITMAP BM_COLOR5 LOADONCALL MOVEABLE DISCARDABLE color5.bmp
BITMAP BM_COLOR6 LOADONCALL MOVEABLE DISCARDABLE color6.bmp
BITMAP BM_COLOR7 LOADONCALL MOVEABLE DISCARDABLE color7.bmp
BITMAP BM_COLOR8 LOADONCALL MOVEABLE DISCARDABLE color8.bmp
BITMAP BM_COLOR9 LOADONCALL MOVEABLE DISCARDABLE color9.bmp
BITMAP BM_COLOR10 LOADONCALL MOVEABLE DISCARDABLE color10.bmp
BITMAP BM_COLOR11 LOADONCALL MOVEABLE DISCARDABLE color11.bmp
BITMAP BM_COLOR12 LOADONCALL MOVEABLE DISCARDABLE color12.bmp
BITMAP BM_COLOR13 LOADONCALL MOVEABLE DISCARDABLE color13.bmp
BITMAP BM_COLOR14 LOADONCALL MOVEABLE DISCARDABLE color14.bmp
BITMAP BM_COLOR15 LOADONCALL MOVEABLE DISCARDABLE color15.bmp

ACCELTABLE WD_MAIN PRELOAD
BEGIN
  "N", MI_NEW, CONTROL
  "n", MI_NEW, CONTROL
  "H", MI_HINT, CONTROL
  "h", MI_HINT, CONTROL
END

MENU WD_MAIN PRELOAD
BEGIN
#ifdef GERMAN
  SUBMENU "~Spiel", SM_GAME
  BEGIN
    MENUITEM "~Neu\tStrg+N", MI_NEW,  MIS_TEXT
    MENUITEM "~Hinweis\tStrg+H", MI_HINT, MIS_TEXT
  END

  SUBMENU "~Optionen", SM_OPTIONS
  BEGIN
    MENUITEM "~AnfÑnger", MI_BEGINNER, MIS_TEXT
    MENUITEM "~Fortgeschrittener", MI_ADVANCED, MIS_TEXT
    MENUITEM "~Meister", MI_MASTER, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Spieler beginnt", MI_PLAYER, MIS_TEXT
    MENUITEM "~Computer beginnt", MI_COMPUTER, MIS_TEXT
    MENUITEM SEPARATOR
    SUBMENU "~Hintergrundfarbe", SM_BGCOLOR
    {
      MENUITEM "#15000", MI_COLOR0  , MIS_BITMAP
      MENUITEM "#15001", MI_COLOR1  , MIS_BITMAP
      MENUITEM "#15002", MI_COLOR2  , MIS_BITMAP
      MENUITEM "#15003", MI_COLOR3  , MIS_BITMAP
      MENUITEM "#15004", MI_COLOR4  , MIS_BITMAP
      MENUITEM "#15005", MI_COLOR5  , MIS_BITMAP
      MENUITEM "#15006", MI_COLOR6  , MIS_BITMAP
      MENUITEM "#15007", MI_COLOR7  , MIS_BITMAP
      MENUITEM "#15008", MI_COLOR8  , MIS_BITMAP
      MENUITEM "#15009", MI_COLOR9  , MIS_BITMAP
      MENUITEM "#15010", MI_COLOR10 , MIS_BITMAP
      MENUITEM "#15011", MI_COLOR11 , MIS_BITMAP
      MENUITEM "#15012", MI_COLOR12 , MIS_BITMAP
      MENUITEM "#15013", MI_COLOR13 , MIS_BITMAP
      MENUITEM "#15014", MI_COLOR14 , MIS_BITMAP
      MENUITEM "#15015", MI_COLOR15 , MIS_BITMAP
    }
    MENUITEM SEPARATOR
    MENUITEM "~Ton...", MI_SOUND, MIS_TEXT
  END

  SUBMENU  "~Hilfe", SM_HELP
  BEGIN
    MENUITEM "Hilfe~index", MI_HELPINDEX
    MENUITEM "~Erweiterte Hilfe", MI_HELPEXTENDED
    MENUITEM "Hilfe fÅr ~Tasten", MI_HELPKEYS
    MENUITEM "Hilfe fÅr ~Hilfefunktion", MI_HELPHELPFORHELP
    MENUITEM SEPARATOR
    MENUITEM "~Produktinformation...", MI_HELPPRODUCTINFO
  END
#else
  SUBMENU "~Game", SM_GAME
  BEGIN
    MENUITEM "~New\tCtrl+N", MI_NEW,  MIS_TEXT
    MENUITEM "~Hint\tCtrl+H", MI_HINT, MIS_TEXT
  END

  SUBMENU "~Options", SM_OPTIONS
  BEGIN
    MENUITEM "~Beginner", MI_BEGINNER, MIS_TEXT
    MENUITEM "~Advanced", MI_ADVANCED, MIS_TEXT
    MENUITEM "~Master", MI_MASTER, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Player starts", MI_PLAYER, MIS_TEXT
    MENUITEM "~Computer starts", MI_COMPUTER, MIS_TEXT
    MENUITEM SEPARATOR
    SUBMENU "B~ackground color", SM_BGCOLOR
    {
      MENUITEM "#15000", MI_COLOR0  , MIS_BITMAP
      MENUITEM "#15001", MI_COLOR1  , MIS_BITMAP
      MENUITEM "#15002", MI_COLOR2  , MIS_BITMAP
      MENUITEM "#15003", MI_COLOR3  , MIS_BITMAP
      MENUITEM "#15004", MI_COLOR4  , MIS_BITMAP
      MENUITEM "#15005", MI_COLOR5  , MIS_BITMAP
      MENUITEM "#15006", MI_COLOR6  , MIS_BITMAP
      MENUITEM "#15007", MI_COLOR7  , MIS_BITMAP
      MENUITEM "#15008", MI_COLOR8  , MIS_BITMAP
      MENUITEM "#15009", MI_COLOR9  , MIS_BITMAP
      MENUITEM "#15010", MI_COLOR10 , MIS_BITMAP
      MENUITEM "#15011", MI_COLOR11 , MIS_BITMAP
      MENUITEM "#15012", MI_COLOR12 , MIS_BITMAP
      MENUITEM "#15013", MI_COLOR13 , MIS_BITMAP
      MENUITEM "#15014", MI_COLOR14 , MIS_BITMAP
      MENUITEM "#15015", MI_COLOR15 , MIS_BITMAP
    }
    MENUITEM SEPARATOR
    MENUITEM "~Sound...", MI_SOUND, MIS_TEXT
  END

  SUBMENU  "~Help", SM_HELP
  BEGIN
    MENUITEM "~Help index",            MI_HELPINDEX
    MENUITEM "~General help",          MI_HELPEXTENDED
    MENUITEM "~Keys help",             MI_HELPKEYS
    MENUITEM "~Using help",            MI_HELPHELPFORHELP
    MENUITEM SEPARATOR
    MENUITEM "~Product information...",MI_HELPPRODUCTINFO
  END
#endif
END

/* helptable */
HELPTABLE MAIN_HELP_TABLE
BEGIN
  HELPITEM WD_MAIN, SUBTABLE_MAIN, PANEL_MAIN
  HELPITEM DB_PRODINFO, SUBTABLE_PRODUCTINFODLG, PANEL_PRODUCTINFODLG
  HELPITEM   DB_EVE, SUBTABLE_EVEDLG, PANEL_EVEDLG
END

/* main window subtable */
HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE 2
BEGIN
  HELPSUBITEM     SM_GAME,            PANEL_GAME
  HELPSUBITEM     MI_NEW,             PANEL_GAME_NEW
  HELPSUBITEM     MI_HINT,            PANEL_GAME_HINT

  HELPSUBITEM     SM_OPTIONS,         PANEL_OPTIONS
  HELPSUBITEM     MI_BEGINNER,        PANEL_OPTIONS_BEGINNER
  HELPSUBITEM     MI_ADVANCED,        PANEL_OPTIONS_ADVANCED
  HELPSUBITEM     MI_MASTER,          PANEL_OPTIONS_MASTER
  HELPSUBITEM     MI_PLAYER,          PANEL_OPTIONS_PLAYER
  HELPSUBITEM     MI_COMPUTER,        PANEL_OPTIONS_COMPUTER
  HELPSUBITEM     SM_BGCOLOR,             PANEL_SMBGCOLOR
  HELPSUBITEM     MI_COLOR0,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR1,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR2,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR3,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR4,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR5,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR6,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR7,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR8,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR9,              PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR10,             PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR11,             PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR12,             PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR13,             PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR14,             PANEL_BGCOLOR
  HELPSUBITEM     MI_COLOR15,             PANEL_BGCOLOR
  HELPSUBITEM     MI_SOUND,           PANEL_OPTIONS_SOUND

  HELPSUBITEM     SM_HELP,            PANEL_HELP_HELP
  HELPSUBITEM     MI_HELPHELPFORHELP, PANEL_HELP_HELPFORHELP
  HELPSUBITEM     MI_HELPEXTENDED,    PANEL_HELP_EXTENDED
  HELPSUBITEM     MI_HELPKEYS,        PANEL_HELP_KEYS
  HELPSUBITEM     MI_HELPINDEX,       PANEL_HELP_INDEX
  HELPSUBITEM     MI_HELPPRODUCTINFO, PANEL_HELP_PRODUCTINFO
END

/* product information subtable */
HELPSUBTABLE SUBTABLE_PRODUCTINFODLG
SUBITEMSIZE     2
BEGIN
END

HELPSUBTABLE SUBTABLE_EVEDLG
SUBITEMSIZE     2
BEGIN
END

rcinclude othello.dlg
