/* othello.rc - resources for Othello for OS/2 */

#include "othello.h"


/* application icon */
ICON WD_MAIN othello.ico

/* play icon (used in sound dialog play button) */
ICON IC_PLAY play.ico

/* crosshair pointer */
POINTER PTR_CROSS cross.ptr

/* background color bitmaps */
BITMAP BM_COLOR0  color0.bmp
BITMAP BM_COLOR1  color1.bmp
BITMAP BM_COLOR2  color2.bmp
BITMAP BM_COLOR3  color3.bmp
BITMAP BM_COLOR4  color4.bmp
BITMAP BM_COLOR5  color5.bmp
BITMAP BM_COLOR6  color6.bmp
BITMAP BM_COLOR7  color7.bmp
BITMAP BM_COLOR8  color8.bmp
BITMAP BM_COLOR9  color9.bmp
BITMAP BM_COLOR10 color10.bmp
BITMAP BM_COLOR11 color11.bmp
BITMAP BM_COLOR12 color12.bmp
BITMAP BM_COLOR13 color13.bmp
BITMAP BM_COLOR14 color14.bmp
BITMAP BM_COLOR15 color15.bmp

MENU WD_MAIN
BEGIN
    SUBMENU "~Game", IDM_SUBMENU_GAME
    BEGIN
        MENUITEM "~New\tCtrl+N",          IDM_NEW
        MENUITEM "~Hint\tCtrl+H",         IDM_HINT
        MENUITEM "~Quit Game\tCtrl+Q",    IDM_QUIT
        MENUITEM SEPARATOR
        MENUITEM "E~xit\tCtrl+X",         IDM_EXIT
    END
    SUBMENU "~Options", IDM_SUBMENU_OPTIONS
    BEGIN
        SUBMENU "~Level", IDM_SUBMENU_LEVEL
        BEGIN
            MENUITEM "~Beginner",         IDM_BEGINNER, MIS_TEXT, MIA_CHECKED
            MENUITEM "~Advanced",         IDM_ADVANCED
            MENUITEM "~Master",           IDM_MASTER
        END
        MENUITEM SEPARATOR
        MENUITEM "~Player starts",        IDM_PLAYER
        MENUITEM "~Computer starts",      IDM_COMPUTER
        MENUITEM SEPARATOR
        SUBMENU "B~ackground color", IDM_SUBMENU_BGCOLOR
        BEGIN
            MENUITEM "~Black",            MI_COLOR0
            MENUITEM "~Blue",             MI_COLOR1
            MENUITEM "~Red",              MI_COLOR2
            MENUITEM "~Pink",             MI_COLOR3
            MENUITEM "~Green",            MI_COLOR4
            MENUITEM "~Cyan",             MI_COLOR5
            MENUITEM "~Yellow",           MI_COLOR6
            MENUITEM "~Neutral",          MI_COLOR7
            MENUITEM "Dark ~grey",        MI_COLOR8
            MENUITEM "Dark b~lue",        MI_COLOR9
            MENUITEM "Dark r~ed",         MI_COLOR10
            MENUITEM "Dark p~ink",        MI_COLOR11
            MENUITEM "Dark g~reen",       MI_COLOR12
            MENUITEM "Dark c~yan",        MI_COLOR13
            MENUITEM "Bro~wn",            MI_COLOR14
            MENUITEM "Pale ~grey",        MI_COLOR15
        END
        MENUITEM SEPARATOR
        MENUITEM "~Sound...",             IDM_SOUND
        MENUITEM SEPARATOR
        SUBMENU "~Language", IDM_SUBMENU_LANG
        BEGIN
            MENUITEM "English",           IDM_LANG_EN, MIS_TEXT, MIA_CHECKED
            MENUITEM "Espanol",           IDM_LANG_ES
            MENUITEM "Nederlands",        IDM_LANG_NL
            MENUITEM "Deutsch",           IDM_LANG_DE
            MENUITEM "Francais",          IDM_LANG_FR
            MENUITEM "Italiano",          IDM_LANG_IT
        END
        MENUITEM SEPARATOR
        MENUITEM "~Frame Controls\tCtrl+F", IDM_FRAME
        MENUITEM SEPARATOR
        MENUITEM "~Save settings on exit", IDM_SAVEONEXIT, MIS_TEXT, MIA_CHECKED
    END
    SUBMENU "~Help", IDM_SUBMENU_HELP
    BEGIN
        MENUITEM "Help ~index",           IDM_HELPINDEX
        MENUITEM "~General help",         IDM_HELPEXTENDED
        MENUITEM "~Keys help",            IDM_HELPKEYS
        MENUITEM "~Using help",           IDM_HELPHELPFORHELP
        MENUITEM SEPARATOR
        MENUITEM "~About...",             IDM_ABOUT
    END
END

ACCELTABLE WD_MAIN
BEGIN
    "n", IDM_NEW,      CHAR, CONTROL
    "N", IDM_NEW,      CHAR, CONTROL
    "h", IDM_HINT,     CHAR, CONTROL
    "H", IDM_HINT,     CHAR, CONTROL
    "q", IDM_QUIT,     CHAR, CONTROL
    "Q", IDM_QUIT,     CHAR, CONTROL
    "x", IDM_EXIT,     CHAR, CONTROL
    "X", IDM_EXIT,     CHAR, CONTROL
    "f", IDM_FRAME,    CHAR, CONTROL
    "F", IDM_FRAME,    CHAR, CONTROL
END

/* Title string loaded by WinCreateStdWindow via idResources (FCF_ICON lookup) */
STRINGTABLE
BEGIN
    WD_MAIN "Othello"
END

HELPTABLE MAIN_HELP_TABLE
BEGIN
    HELPITEM WD_MAIN,   SUBTABLE_MAIN,           PANEL_MAIN
    HELPITEM IDD_ABOUT, SUBTABLE_PRODUCTINFODLG, PANEL_PRODUCTINFODLG
    HELPITEM DB_EVE,    SUBTABLE_EVEDLG,         PANEL_EVEDLG
END

HELPSUBTABLE SUBTABLE_MAIN
BEGIN
    HELPSUBITEM IDM_SUBMENU_GAME,    PANEL_GAME
    HELPSUBITEM IDM_NEW,             PANEL_GAME_NEW
    HELPSUBITEM IDM_HINT,            PANEL_GAME_HINT
    HELPSUBITEM IDM_QUIT,            PANEL_GAME_QUIT
    HELPSUBITEM IDM_EXIT,            PANEL_GAME_EXIT
    HELPSUBITEM IDM_SUBMENU_OPTIONS, PANEL_OPTIONS
    HELPSUBITEM IDM_BEGINNER,        PANEL_OPTIONS_BEGINNER
    HELPSUBITEM IDM_ADVANCED,        PANEL_OPTIONS_ADVANCED
    HELPSUBITEM IDM_MASTER,          PANEL_OPTIONS_MASTER
    HELPSUBITEM IDM_PLAYER,          PANEL_OPTIONS_PLAYER
    HELPSUBITEM IDM_COMPUTER,        PANEL_OPTIONS_COMPUTER
    HELPSUBITEM IDM_SOUND,           PANEL_OPTIONS_SOUND
    HELPSUBITEM IDM_SUBMENU_LEVEL,   PANEL_OPTIONS
    HELPSUBITEM IDM_SUBMENU_LANG,    PANEL_OPTIONS_LANG
    HELPSUBITEM IDM_LANG_EN,         PANEL_OPTIONS_LANG
    HELPSUBITEM IDM_LANG_ES,         PANEL_OPTIONS_LANG
    HELPSUBITEM IDM_LANG_NL,         PANEL_OPTIONS_LANG
    HELPSUBITEM IDM_LANG_DE,         PANEL_OPTIONS_LANG
    HELPSUBITEM IDM_LANG_FR,         PANEL_OPTIONS_LANG
    HELPSUBITEM IDM_LANG_IT,         PANEL_OPTIONS_LANG
    HELPSUBITEM IDM_SAVEONEXIT,      PANEL_OPTIONS_SAVE
    HELPSUBITEM IDM_FRAME,           PANEL_OPTIONS_FRAME
    HELPSUBITEM IDM_SUBMENU_HELP,    PANEL_HELP_HELP
    HELPSUBITEM IDM_HELPHELPFORHELP, PANEL_HELP_HELPFORHELP
    HELPSUBITEM IDM_HELPEXTENDED,    PANEL_HELP_EXTENDED
    HELPSUBITEM IDM_HELPKEYS,        PANEL_HELP_KEYS
    HELPSUBITEM IDM_HELPINDEX,       PANEL_HELP_INDEX
    HELPSUBITEM IDM_ABOUT,           PANEL_HELP_PRODUCTINFO
    HELPSUBITEM IDM_SUBMENU_BGCOLOR, PANEL_SMBGCOLOR
    HELPSUBITEM MI_COLOR0,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR1,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR2,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR3,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR4,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR5,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR6,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR7,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR8,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR9,           PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR10,          PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR11,          PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR12,          PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR13,          PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR14,          PANEL_BGCOLOR
    HELPSUBITEM MI_COLOR15,          PANEL_BGCOLOR
END

HELPSUBTABLE SUBTABLE_PRODUCTINFODLG
BEGIN
    HELPSUBITEM DID_OK, PANEL_PRODUCTINFODLG
END

HELPSUBTABLE SUBTABLE_EVEDLG
BEGIN
    HELPSUBITEM CB_EVESOUNDS, PANEL_EVEDLG
    HELPSUBITEM LB_EVE,       PANEL_EVEDLG
    HELPSUBITEM LB_EVESOUNDS, PANEL_EVEDLG
    HELPSUBITEM SL_EVESOUNDS, PANEL_EVEDLG
    HELPSUBITEM PB_PLAYEVE,   PANEL_EVEDLG
    HELPSUBITEM DID_OK,       PANEL_EVEDLG
    HELPSUBITEM DID_CANCEL,   PANEL_EVEDLG
END

#include "about.dlg"
#include "sound.dlg"
